.container{
    width: 1024px;
    height: auto;
    text-align: center;
    margin: 0 auto; 
    border-color: aquamarine; 
  }

header {
    display: flex;
}

.leftWhite {
    width: 50%;
    height: 150px;
    background-color: white;
}

.rightGreen {
    width: 50%;
    height: 150px;   
    background-color: antiquewhite; 
}

img {
    width: 140px;
    height:150px;
    border-radius: 50%;
  }

.headers {
    display: flex;    
} 

.leftGreen {
    width: 50%;
    height: 50px;
    background-color: antiquewhite;
}

.rightWhite {
    width: 50%;
    height: 50px;   
    background-color: white;
} 